[submodule "doom-classpad"]
	path = doom-classpad
	url = https://github.com/luke-e-gibson/doom-classpad
[submodule "skd/hollyhock2"]
	path = skd/hollyhock2
	url = https://github.com/luke-e-gibson/hollyhock-2
